
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Icon Font
@import "node_modules/font-awesome/scss/font-awesome";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.display-4 {
    font-size: 3rem;
}

.table-responsive {
  white-space: nowrap;
}

.text-highlight {
  color: #00FF21 !important;
}