
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Icon Font
@import "node_modules/font-awesome/scss/font-awesome";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.jumbotron {
  background-image: url("/images/black-thread-light.png");
}

.display-4 {
    font-size: 3rem;
}

.table-responsive {
  white-space: nowrap;
}

.text-highlight {
  color: #00FF21 !important;
}

#nightmode {
  color: #fff;
  background-color: #000;
}

#nightmode .navbar-laravel {
  color: #fff;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(255,255,255,0.04);
}

#nightmode .bg-white {
  background-color: #212529 !important;
}

#nightmode .text-dark {
  color: #ffffff !important;
}

#nightmode .text-muted {
  color: #f8f9fa !important;
}

#nightmode .navbar-brand {
  color: rgba(255,255,255,0.9);
}

#nightmode .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

#nightmode .jumbotron {
  background-color: #212529;
}